/* Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 450px) {
    /* <========== Typography ==========> */
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 38px;
    }
    p{
        font-size: 16px;
    }

    /* <========== Common ==========> */
    .main{
        max-width: 100%;
        padding: 0 20px;
        margin: 0;
    }

    .bg{
        height: 70vh;
    }

    .box-container{
        max-width: 100%;
    }

    /* <========== Header ==========> */
    .header-area{
        .header{
            padding: 10px;
            &__menu{
                display: none;
            }
        }
    }

    /* <========== Banner ==========> */

    /* <========== Services ==========> */

    .services-area{
        padding: 50px 0;
        .services{
            &__title{
                h2{
                    padding: 20px;
                }
            }
            &__content{
                grid-template-columns: auto;
                grid-column-gap: 0;
                grid-row-gap: 0px;
                justify-content: center;
                .box{
                    padding: 30px;
                }
            }
        }
    }

    /* <========== Counter ==========> */

    .counter-area{
        padding: 50px 0;
        .counter{
            grid-template-columns: auto;
            grid-gap: 50px;
        }
    }

    /* <========== Goals ==========> */

    .goal-area{
        padding: 50px 0;
        .goal{
            grid-template-columns: auto;
            grid-gap: 40px;
            &__content{
                grid-row: 2;
            }
            &__img{
                display: grid;
                justify-content: center;
                a{
                    display: inline-block;
                    i{
                        margin: 0;
                    }
                }
            }
        }
    }

    /* <========== Global ==========> */

    .global-area{
        .global{
            padding: 0;
            &__title{
                padding: 50px 10px;
                margin-bottom: 50px;
            }
            &__content{
                grid-template-columns: auto;
                padding: 0 20px;
                grid-gap: 40px;
            }
        }
    }

    /* <========== Testimonial ==========> */

    .testimonial-area{
        .testimonial{
            &__content{
                grid-template-columns: auto;
                grid-gap: 30px;
                .box{
                    padding: 30px;
                    .content{
                        p{
                            font-size: 16px;
                        }
                    }
                    .meta{
                        img{
                            width: 60px;
                        }
                        h4{
                            font-size: 18px;
                        }
                        h6{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    /* <========== Team ==========> */

    .team-area{
        padding: 50px 0;
        .team{
            &__content{
                grid-template-columns: auto;
                grid-gap: 40px;
            }
        }
    }

    /* <========== Blog ==========> */

    .blog-area{
        padding: 40px 0 50px;
        .blog{
            &__content{
                grid-template-columns: auto;
                grid-gap: 40px;
            }
        }
    }

    /* <========== Footer ==========> */

    .footer-area{
        padding: 50px 0;
        .footer{
            &__content{
                grid-template-columns: auto;
                grid-gap: 40px;
                .box{
                    padding: 0;
                    &-1{
                        padding-right: 50px;
                        .brand-name{
                            margin-bottom: 10px;
                        }
                    }
                    &-4{
                        .title{
                            .box-title{
                                h4{
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }
                }
                .middle{
                    .title{
                        a{
                            h4{
                                margin-bottom: 20px;
                            }
                        }
                    }
                    .content{
                        ul{
                            li{
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}