@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Work+Sans:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <========== Colors ==========> */
/* <========== Typography ==========> */
h1 {
  font-size: 60px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

h2 {
  font-size: 42px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-transform: normal;
  color: #191919;
}

h3 {
  font-size: 22px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #191919;
}

h4 {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #191919;
}

h6 {
  font-size: 14px;
  font-family: "Work Sans" sans-serif;
  text-transform: uppercase;
  color: #0A8AE6;
  font-weight: 600;
}

p {
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #595959;
}

/* <========== Common ==========> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.main {
  width: 1200px;
  margin: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.bg {
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.btn-bg, .btn-border {
  display: inline-block;
  padding: 13px 31px;
  background-color: #0A8AE6;
  font-size: 13px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  border-radius: 3px;
  transition: 0.3s;
}
.btn-bg:hover, .btn-border:hover {
  background-color: white;
  color: #0A8AE6;
}

.btn-border {
  border: 2px solid #0A8AE6;
  font-size: 16px;
  padding: 12px 30px;
  line-height: 16px;
}

.box-container {
  width: 1140px;
  margin: auto;
  display: grid;
  grid-template: repeat(1, auto)/repeat(3, auto);
  justify-content: stretch;
}

.box {
  display: grid;
  align-content: center;
  text-align: center;
}

/* <========== Header ==========> */
.header-area .header {
  width: 100%;
  display: grid;
  grid-template-columns: 35% 60%;
  justify-content: space-between;
  grid-column-gap: 25px;
  padding: 15px 100px;
  margin-bottom: -68px;
  z-index: 2;
}
.header-area .header__logo a {
  color: white;
  font-size: 38px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 38px;
  font-family: "Quicksand", sans-serif;
}
.header-area .header__menu {
  width: 100%;
  margin: auto;
}
.header-area .header__menu ul {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: end;
  grid-gap: 60px;
}
.header-area .header__menu ul li a {
  color: white;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
}

/* <========== Banner ==========> */
.banner {
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
}
.banner__content {
  text-align: center;
}
.banner__content h1 {
  margin-bottom: 30px;
}
.banner__content p {
  color: white;
  font-weight: 400;
}
.banner__content .btn {
  margin-top: 50px;
}

/* <========== Services ==========> */
.services-area {
  padding: 100px 0;
}
.services-area .services {
  text-align: center;
}
.services-area .services__title {
  margin-bottom: 50px;
}
.services-area .services__title h2 {
  margin-bottom: 20px;
}
.services-area .services__title p {
  font-size: 18px;
  font-weight: 400;
}
.services-area .services__content {
  grid-template: repeat(2, auto)/repeat(3, 33%);
}
.services-area .services__content .box {
  display: grid;
  align-content: center;
  transition: all 0.3s;
  padding: 30px;
}
.services-area .services__content .box:hover {
  background-color: #61A0CE;
}
.services-area .services__content .box:hover * {
  color: white;
}
.services-area .services__content .box i {
  color: #0A8AE6;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 20px;
}
.services-area .services__content .box h3 {
  margin-bottom: 10px;
}
.services-area .services__content .box p {
  line-height: 24px;
}

/* <========== Counter ==========> */
.counter-area {
  padding: 100px 0;
  background: #61A0CE;
}
.counter-area .counter {
  grid-template-columns: repeat(4, auto);
}
.counter-area .counter__box {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}
.counter-area .counter__box * {
  align-self: center;
}
.counter-area .counter__box .number {
  font-size: 60px;
  color: white;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
.counter-area .counter__box .title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-align: left;
  margin: 0 -25px 0 10px;
  z-index: 2;
}
.counter-area .counter__box i {
  font-size: 70px;
  color: #82B4D8;
  z-index: 1;
}

/* <========== Goals ==========> */
.goal-area {
  padding: 100px 0;
}
.goal-area .goal {
  display: grid;
  grid-template-columns: 67% 33%;
  align-items: center;
}
.goal-area .goal__content h2 {
  margin-bottom: 30px;
}
.goal-area .goal__content ul li {
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  color: #707070;
  margin-bottom: 25px;
}
.goal-area .goal__content a {
  margin-top: 35px;
}
.goal-area .goal__img {
  padding: 220px 0;
  background-repeat: no-repeat;
}
.goal-area .goal__img a i {
  font-size: 60px;
  color: #0A8AE6;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  margin-left: -30px;
  align-self: center;
}

/* <========== Global ==========> */
.global-area {
  background-color: #F7F7F7;
}
.global-area .global {
  width: 100%;
}
.global-area .global__title {
  text-align: center;
  padding: 100px 0 310px 0;
  margin-bottom: -250px;
  background-repeat: no-repeat;
}
.global-area .global__title h5 {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.global-area .global__title h2 {
  color: white;
}
.global-area .global__content {
  grid-column-gap: 70px;
}
.global-area .global__content .box {
  background-color: white;
  box-shadow: 0px 0px 40px 11px rgba(79, 118, 157, 0.1);
  padding: 65px 45px 66px;
  border-radius: 5px;
}
.global-area .global__content .box i {
  font-size: 50px;
  color: #0A8AE6;
  margin-bottom: 20px;
}
.global-area .global__content .box h3 {
  margin-bottom: 10px;
}
.global-area .global__content .box p {
  line-height: 24px;
}

/* <========== Testimonial ==========> */
.testimonial-area {
  padding: 80px 0;
  background-color: #F7F7F7;
}
.testimonial-area .testimonial__title h2 {
  text-align: center;
  margin-bottom: 40px;
}
.testimonial-area .testimonial__content {
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 30px;
}
.testimonial-area .testimonial__content .box {
  background-color: white;
  box-shadow: 0px 0px 40px 11px rgba(79, 118, 157, 0.1);
  padding: 35px 40px;
  border-radius: 5px;
}
.testimonial-area .testimonial__content .box .content {
  margin-bottom: 20px;
}
.testimonial-area .testimonial__content .box .content p {
  font-size: 20px;
  font-family: "Quicksand" sans-serif;
  font-weight: 400;
  color: #707070;
}
.testimonial-area .testimonial__content .box .meta {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-items: center;
  grid-column-gap: 15px;
}
.testimonial-area .testimonial__content .box .meta img {
  width: 80px;
}
.testimonial-area .testimonial__content .box .meta .name h4 {
  text-align: left;
  font-weight: 600;
}
.testimonial-area .testimonial__content .box .meta .name h6 {
  font-size: 14px;
  font-family: "Work Sans" sans-serif;
  text-transform: uppercase;
  color: #0A8AE6;
  text-align: left;
  font-weight: 600;
  letter-spacing: 1px;
}

/* <========== Team ==========> */
.team-area {
  padding: 70px 0 80px;
}
.team-area .team__title {
  margin-bottom: 50px;
}
.team-area .team__title h2 {
  margin-bottom: 20px;
  text-align: center;
}
.team-area .team__title p {
  text-align: center;
  font-size: 18px;
}
.team-area .team__content {
  grid-column-gap: 85px;
}
.team-area .team__content .box {
  background-color: white;
  box-shadow: 0px 0px 40px 11px rgba(79, 118, 157, 0.1);
  padding: 45px 0;
  border-radius: 5px;
}
.team-area .team__content .box .content img {
  width: 200px;
  margin-bottom: 20px;
}
.team-area .team__content .box .content h4 {
  font-weight: 700;
  margin-bottom: 5px;
}
.team-area .team__content .box .social-icons {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  grid-column-gap: 10px;
  margin-top: 15px;
}
.team-area .team__content .box .social-icons a {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  color: black;
  background-color: #EBEBEB;
  display: grid;
  align-items: center;
}
.team-area .team__content .box .social-icons a i {
  font-size: 18px;
}

/* <========== Blog ==========> */
.blog-area {
  background-color: #F7F7F7;
  padding: 60px 0 100px;
}
.blog-area .blog__title * {
  text-align: center;
}
.blog-area .blog__title h2 {
  margin-bottom: 20px;
}
.blog-area .blog__content {
  grid-column-gap: 30px;
  margin-top: 50px;
}
.blog-area .blog__content .box {
  box-shadow: 0px 23px 49px 0px rgba(61, 82, 96, 0.15);
  background-color: white;
  display: grid;
  grid-template-rows: repeat(2, auto);
  align-content: stretch;
  border-radius: 5px;
}
.blog-area .blog__content .box .img img {
  width: 100%;
  height: 267px;
}
.blog-area .blog__content .box .content {
  padding: 30px;
}
.blog-area .blog__content .box .content .upper-content {
  margin-bottom: 20px;
}
.blog-area .blog__content .box .content .upper-content .date h6 {
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: left;
}
.blog-area .blog__content .box .content .upper-content a.title p {
  font-size: 24px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  color: #191919;
  text-align: left;
}
.blog-area .blog__content .box .content .lower-content {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  justify-content: space-between;
  align-items: center;
}
.blog-area .blog__content .box .content .lower-content > a {
  padding: 9px 15px;
  color: #bfbfbf;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  background-color: #EFF1F4;
  border-radius: 50px;
  transition: all 0.3s;
}
.blog-area .blog__content .box .content .lower-content > a:hover {
  color: #191919;
}
.blog-area .blog__content .box .content .lower-content span {
  color: #bfbfbf;
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  text-align: right;
}
.blog-area .blog__content .box .content .lower-content span a {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: #595959;
  text-transform: capitalize;
  transition: all 0.3s;
}
.blog-area .blog__content .box .content .lower-content span a:hover {
  color: #0A8AE6;
}

/* <========== Project ==========> */
.project-area {
  padding: 100px 0;
  background-color: #61A0CE;
}
.project-area .project__title h2 {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}
.project-area .project__title p {
  color: white;
  text-align: center;
}
.project-area .project__content {
  margin-top: 70px;
  display: grid;
  justify-content: center;
}
.project-area .project__content .btn {
  background-color: #61A0CE;
  border-color: white;
}
.project-area .project__content .btn:hover {
  background-color: white;
  color: #61A0CE;
}

/* <========== Footer ==========> */
.footer-area {
  padding: 80px 0;
}
.footer-area .footer__content {
  grid-template-columns: repeat(4, 25%);
  grid-column-gap: 30px;
  align-items: flex-start;
}
.footer-area .footer__content .box-1 {
  text-align: left;
}
.footer-area .footer__content .box-1 .brand-name {
  color: black;
  font-size: 38px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 38px;
  font-family: "Quicksand", sans-serif;
  display: inline-block;
  margin-bottom: 20px;
}
.footer-area .footer__content .box-1 .hours {
  color: #707070;
  font-style: 14px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  line-height: 26px;
  margin-bottom: 15px;
}
.footer-area .footer__content .box-1 .copyright {
  color: #707070;
  font-style: 14px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  line-height: 26px;
}
.footer-area .footer__content .box-1 .copyright a {
  color: black;
  font-size: 16px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
.footer-area .footer__content .box-2 {
  padding-left: 20px;
}
.footer-area .footer__content .middle {
  text-align: left;
}
.footer-area .footer__content .middle .title a h4 {
  margin-bottom: 30px;
}
.footer-area .footer__content .middle .content ul li {
  margin-bottom: 20px;
}
.footer-area .footer__content .middle .content ul li:last-child {
  margin-bottom: 0;
}
.footer-area .footer__content .middle .content ul li a {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #595959;
}
.footer-area .footer__content .box-4 .title .box-title h4 {
  margin-bottom: 30px;
  text-align: left;
}
.footer-area .footer__content .box-4 .content .info {
  text-align: left;
}
.footer-area .footer__content .box-4 .content .info .phn-number h3 {
  margin-bottom: 10px;
}
.footer-area .footer__content .box-4 .content .info p {
  font-size: 16px;
  color: #595959;
  margin-bottom: 10px;
}
.footer-area .footer__content .box-4 .content .social-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: left;
  grid-column-gap: 10px;
  margin-top: 50px;
}
.footer-area .footer__content .box-4 .content .social-icons a {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  color: white;
}
.footer-area .footer__content .box-4 .content .social-icons a i {
  font-size: 18px;
}
.footer-area .footer__content .box-4 .content .social-icons .icon-1 {
  background-color: #3B5998;
}
.footer-area .footer__content .box-4 .content .social-icons .icon-2 {
  background-color: #1DA1F2;
}
.footer-area .footer__content .box-4 .content .social-icons .icon-3 {
  background-color: #007BB5;
}
.footer-area .footer__content .box-4 .content .social-icons .icon-4 {
  background-color: #FF0000;
}

/* Extra small devices (phones, 450px and down) */
@media only screen and (max-width: 450px) {
  /* <========== Typography ==========> */
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 38px;
  }
  /* <========== Common ==========> */
  .main {
    max-width: 100%;
    padding: 0 20px;
    margin: 0;
  }
  .box-container {
    max-width: 100%;
  }
  /* <========== Header ==========> */
  .header-area .header {
    padding: 10px 5px;
  }
  .header-area .header__menu {
    display: none;
  }
  /* <========== Banner ==========> */
  /* <========== Services ==========> */
  .services-area {
    padding: 50px 0;
  }
  .services-area .services__title h2 {
    padding: 20px;
  }
  .services-area .services__content {
    grid-template: repeat(6, auto)/repeat(1, auto);
    grid-column-gap: 0;
    grid-row-gap: 0px;
    justify-content: center;
  }
  .services-area .services__content .box {
    padding: 30px;
  }
  /* <========== Counter ==========> */
  .counter-area {
    padding: 50px 0;
  }
  .counter-area .counter {
    grid-template: repeat(4, auto)/repeat(1, auto);
    grid-gap: 50px;
  }
  /* <========== Goals ==========> */
  .goal-area {
    padding: 50px 0;
  }
  .goal-area .goal {
    grid-template: repeat(2, auto)/repeat(1, auto);
    grid-gap: 40px;
  }
  .goal-area .goal__content {
    grid-row: 2;
  }
  .goal-area .goal__img {
    display: grid;
    justify-content: center;
  }
  .goal-area .goal__img a {
    display: inline-block;
  }
  .goal-area .goal__img a i {
    margin: 0;
  }
  /* <========== Global ==========> */
  .global-area .global {
    padding: 0;
  }
  .global-area .global__title {
    padding: 50px 0;
    margin-bottom: 50px;
  }
  .global-area .global__content {
    grid-template: repeat(3, auto)/repeat(1, auto);
    padding: 0 20px;
    grid-gap: 40px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) *//*# sourceMappingURL=style.css.map */